@using ItsGoStats.Common;
@using ItsGoStats.Extensions;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<DateConstraint>

<p class="lead">
    Statistics from <strong>@Model.Start.HumanizeDate()</strong> to <strong>@Model.End.HumanizeDate()</strong>
</p>
