@using ItsGoStats.Common;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<DateConstraint>

<p class="lead pb-4">
    <i>Statistics from</i> @Model.Start.ToString("MMMM yyyy") <i>to</i> @Model.End.ToString("MMMM yyyy")
</p>
