@using ItsGoStats.Models;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<List<GameModel>>

@{
    Layout = "base";
    ViewBag.Title = "Games";
}

<h1>@ViewBag.Title</h1>
@Html.Partial("_dateconstraint_paragraph", ViewBag.Date.Value)
