@using ItsGoStats.Models;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<List<GameModel>>

@{
    Layout = "base";
    ViewBag.Title = "Games";
}

<div class="header-box">
    <h1 class="display-3">@ViewBag.Title</h1>
    <hr class="my-2" />
    @Html.Partial("_dateconstraint_paragraph", ViewBag.Date.Value)
</div>
