@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_base";
    ViewBag.Title = "Players";
}

<ul>
    @foreach (var player in @Model)
    {
        <li>
            @RoutingHelper.PlayerLink(player)
        </li>
    }
</ul>
