@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_base";
}

<ul>
    @foreach (var player in @Model)
    {
        <li>
            <a href="/Player/@player.SteamId">@player.Name (@player.SteamId)</a>
        </li>
    }
</ul>
