@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "base";
    ViewBag.Title = "Teams";
}

<div class="header-box">
    <h1 class="display-3">@ViewBag.Title</h1>
    <hr class="my-2" />
    <h2 class="display-4">Coming soon!</h2>
</div>
