<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.4" targetFramework="net471" />
  <package id="Dapper.Contrib" version="1.50.4" targetFramework="net471" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net471" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net471" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net471" />
  <package id="Nancy" version="1.4.4" targetFramework="net471" />
  <package id="Nito.AsyncEx" version="4.0.1" targetFramework="net471" />
  <package id="System.Data.SQLite.Core" version="1.0.106.0" targetFramework="net471" />
  <package id="System.Reactive" version="4.0.0-preview.2.build.42" targetFramework="net471" />
</packages>